/* ============  Header ============*/
/* Header */
header {
    display: flex;
    width: 100%;
    height: 88px;
    z-index: 999;
    background-color: var(--background--color--header);
    box-shadow: 0px 0px 5px rgb(0, 51, 94, 0.5);
}

/* Container do Header */
.containerHeader {
    display: flex;
    width: 100%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-right: 42px;
    padding-left: 42px;
}

/* Container do Logo MZ */
.container--logo--svg {
    width: 72px;
    height: 37px;
    max-width: 100%;
}

/* Logo MZ */
.logo {
    display: grid;
    column-gap: 1.25rem;
    grid-template-columns: 1fr;
    align-content: space-around;
    justify-items: center;
}

/* ============= Menu ============= */
.menu--nav {
    display: flex;
    width: 100%;
    align-items: center;
}

.menu--ul {
    display: flex;
    position: relative;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}

.menu-li {
    padding: 28px 0;
}

.cursor-pointer {
    cursor: default !important;
}

/* Texto - a Empresa, NOSSOS FUNDOS, CARTAS, CONTEÚDOS e CONTATO */
.menu-li-titulo {
    display: inline-block;
    position: relative;
    font-weight: 500;
    line-height: 150%;
    padding: 5px 30px;
    color: var(--text--color-whiter);
    text-transform: uppercase;
    cursor: pointer;
    white-space: nowrap;
    font-size: 0.8125rem;
}

.menu-li:hover > a {
    color: var(--Principal--Azul--Claro);
    font-weight: 700;
}

.submenu-ul {
    display: none;
    position: fixed;
    top: 88px;
    width: 177px;
    height: 96px;
    flex-shrink: 0;
    background: #ffffff;
    text-align: center;
    line-height: 2;
    border-radius: 0px 0px 9px 9px;
    overflow: hidden;
    border: 1px solid #8c8b8b;
    margin-left: -15px;
    box-shadow: 0px 0px 5px rgba(87, 83, 84, 0.5);
}

/* Texto do Submenu - Sobre a Empresa */
.submenu-texto {
    color: #0d2833;
    line-height: 100%;
    padding: 10px 0 10px 0;
    display: block;
    font-weight: 500;
    font-size: 0.75rem;
}

.menu-li:hover .submenu-ul {
    display: block;
    z-index: 1;
}
/* Cor fundo ao passar o mouse - SubMenu */
.submenu-ul li:hover {
    background-color: #f2f2f2;
    width: 100%;
}

/* ========== Botões Header ========== */
.btns--heard {
    display: flex;
    align-items: center;
    gap: 3px;
}
/*  Botão - Como Investir */
.btns-heard-comoInv {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 31px;
    width: 100%;
    padding: 7px 15px;
    background-color: #ffffff;
    border: 1px solid #1a1a13;
    border-radius: 6px;
    font-weight: 600;
    cursor: pointer;
    white-space: nowrap;
}
.btns-heard-comoInv .btns-heard-comoInv-texto {
    font-size: 0.75rem;
    text-align: center;
    color: var(--color-azul--escuro);
}
/* Hover - Btn Como Investir */
.btns-heard-comoInv:hover {
    border: 1px solid #111112;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24);
}
/* Hover - Btn Como Investir - texto */
.btns-heard-comoInv:hover .btns-heard-comoInv-texto {
    color: var(--Principal--Azul--Claro);
}

/* =========== Portal do Investidor =========== */
.btns-heard-portaldoInv {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 31px;
    width: 100%;
    padding: 7px 15px;
    background-color: transparent;
    border-radius: 6px;
    font-weight: 600;
    cursor: pointer;
    white-space: nowrap;
}

.btns-heard-portaldoInv:hover .btns-heard-portaldoInv-texto,
.btns-heard-portaldoInv:hover svg path,
.btns-heard-portaldoInv:hover,
.btns-heard-portaldoInv:hover svg {
    fill: none;
    background-color: var(--principal-branco);
    stroke: var(--color-azul--escuro);
    color: var(--color-azul--escuro);
}
.btns-heard-portaldoInv:hover {
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24);
}

.btns-heard-portaldoInv > svg {
    margin-right: 6px;
    width: 20px;
    height: 20px;
}
/* Texto - Portal do Investidor */
.btns-heard-portaldoInv-texto {
    font-size: 0.75rem;
    font-weight: 500;
    color: var(--principal-branco);
}

/* ======= Linguagens Pt/En ======== */
.container-linguagens {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.container-linguagens .en,
.containerLinguagens .pt {
    font-size: 0.75rem;
    color: var(--principal-branco);
    font-weight: 500;
    border-radius: 60%;
    padding: 5px;
}

.container-linguagens .pt.active {
    display: none;
}
.container-linguagens a:hover {
    color: var(--color-azul--escuro);
    background-color: var(--principal-branco);
}

/* ======= Menu Hamburger ======== */
.menu-hamburger {
    display: flex;
    align-items: center;
    cursor: pointer;
    display: none;
}

/* Botão - Fechar Menu Hamburger (X) */
.menu-hamburger .bx-hamburger,
.menu-hamburger .bx-x {
    fill: var(--principal-branco);
}
.menu-hamburger svg:hover path {
    fill: var(--color-azul--claro);
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 1200px) {
    .container-linguagens {
        padding-right: 15px;
    }
    /* ======= Menu Hamburger ======== */
    .menu--ul {
        display: block;
        position: absolute;
        width: 100%;
        right: 0px;
        top: 90px;
        background-color: var(--background--color--header);
        height: 0px;
        transition: 0.6s;
        z-index: 1000;
        visibility: hidden;
        overflow-y: hidden;
    }

    /* Active - js */
    .menu--nav.active ul.menu--ul {
        height: calc(100vh - 48px);
        position: fixed;
        visibility: visible;
        overflow-y: auto;
        visibility: visible;
    }

    .menu-li {
        padding: 2px 0;
    }

    .menu-li-titulo {
        font-weight: 700;
    }

    .submenu-ul {
        display: block;
        position: relative;
        border-radius: 0;
        line-height: 0;
        background-color: transparent;
        border: none;
        box-shadow: none;
        width: 100%;
        height: 79px;
        top: 2px;
        margin: 0;
        text-align: left;
    }

    .submenu-texto {
        color: var(--text--color-whiter);
        padding: 5px 30px;
    }

    .submenu-ul li:hover .submenu-texto {
        color: #0d2833;
    }

    .menu-hamburger {
        display: block;
    }

    .menu-hamburger .bx-x {
        display: none;
    }

    .btns-heard-comoInv-container.hidden {
        display: none;
    }

    .btns-heard-comoInv-container {
        position: fixed;
        display: flex;
        z-index: 1000;
        left: 0;
        top: 338px;
        height: calc(6vh - 0px);
        align-items: center;
        padding: 5px 29px;
    }

    .btns-heard-comoInv {
        width: 100%;
    }
}

@media screen and (max-width: 992px) {
    .btns-heard-portaldoInv > svg {
        height: 20px;
        width: 20px;
    }
}

@media screen and (max-width: 576px) {
    .btns-heard-portaldoInv-texto {
        display: none;
    }
}

/* For small devices */
@media screen and (max-width: 350px) {
    header {
        overflow: hidden;
    }

    .btns-heard-portaldoInv {
        white-space: normal;
    }

    .btns-heard-portaldoInv > svg {
        margin-right: 0;
        height: 25px;
        width: 25px;
    }

    .container--logo--svg {
        display: block;
        position: relative;
        padding: 0 0 15px 0;
        max-width: 100%;
    }

    .container-linguagens .en,
    .containerLinguagens .pt {
        font-size: 1rem;
    }

    .btns--heard {
        position: absolute;
        top: 27px;
        right: 4px;
        z-index: 1000;
    }
}
